<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>
<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>

	<button><a href="/">Inicio</a></button>
	<button><a href="/login">Iniciar sesión</a></button>
	<button><a href="/register">Registrar usuario</a></button>
	<button><a href="/update">Cambiar contraseña</a></button>
	<button><a href="/delete">Eliminar usuario</a></button>
	
	
	<p th:text="${session.user.username}" th:unless="${session == null}"> . </p>


</body>
</html>