<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Log in</title>
	<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- MENÚ SUPERIOR -->
		<div class="container-fluid">
			<a class="navbar-brand" href="/inicio">
				<img src="img/2.png" alt="Online Store" style="width:50px;" class="rounded-pill">
				<img src="img/3.png" alt="Online Store" style="width:50px;">
			</a>
		</div>
		<div class="container-fluid">
			<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link active" href="/login">Iniciar sesión</a>
	
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">Registrar usuario</a>
			</li>
			</ul>
		</div>
	</nav>

	<div class="p-5">
	
<div th:if="${message != null}" th:text="${message}">
		</div>
<div class="text-center">
<h2>Indique sus credenciales para iniciar sesión</h2>

<form th:action="@{/checkLogin}" th:object="${user}" method="post">
		
		<div> <label>Usuario</label> <input type="text" value="David" th:field="*{username}"/> </div>
		<label for="email">Email</label>
		<br/>
		
		<div><label>Contraseña</label> <input type="password" th:field="*{password}"/> </div>
		 <label for="pwd">Password</label>
		
		<br/>
		<input type="submit" value="Login"/>
	</form>
	
<form th:action="@{/checkLogin}" th:object="${user}" method="post">
	<div style="background-color: rgba(0, 0, 0, 0.2)">
	    <div class="form-floating mb-3 mt-3">
	      <input type="text" class="form-control" placeholder="Usuario" th:field="*{username}"/>
	      
	    </div>
	    <div class="form-floating mt-3 mb-3">
	      <input type="password" class="form-control" placeholder="Contraseña" th:field="*{password}"/>
	     
	    </div>
	    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </div>
 </form>
	
	
	<button><a href="/">Inicio</a></button>
	<button><a href="/register">Registrar usuario</a></button>

</div>
	

</div>

<footer class="bg-dark text-center text-white">
		<!-- FOOTER -->
		<div class="container p-4 pb-0">
		
		  <section>
			<a class="navbar-brand" href="/inicio">
				<img src="img/2.png" alt="Online Store" style="width:50px;" class="rounded-pill">
				<img src="img/3.png" alt="Online Store" style="width:50px;">
			  </a>
		  </section>
		</div>
	  
		<!-- FOOTER Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		  © 2021 Copyright:
		  <a class="text-white" href="/inicio">OnlineStore.com</a>
		</div>
	</footer>	

	
	
</body>
</html>