<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New user</title>
	<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>

<div th:if="${message != null}" th:text="${message}">
		</div>

	<form th:action="@{/saveUser}" th:object="${altaUsuarioForm}" method="post">
	
		<label>Username</label>
		<input type="text" value="David" th:field="*{username}"/>
		<br/>
		<label>Password</label>
		<input type="password" th:field="*{password}"/>
		<br/>
		<label>Name</label>
		<input type="text" th:field="*{name}"/>
		<br/>
		<label>Lastname</label>
		<input type="text" th:field="*{lastname}"/>
		<br/>
		<label>Email</label>
		<input type="text" th:field="*{email}"/>
		<br/>
		<label>Address</label>
		<input type="text" th:field="*{address}"/>
		<br/>
		<label>Phone</label>
		<input type="text" th:field="*{phone}"/>
		<br/>
		<label>City</label>
		<input type="text" th:field="*{city}"/>
		<br/>
		<label>Postalcode</label>
		<input type="text" th:field="*{postalcode}"/>
		<br/>
		<label>Country</label>
		<input type="text" th:field="*{country}"/>
		<br/>
		<label>State</label>
		<input type="text" th:field="*{state}"/>
		<br/>
	
		<input type="submit" value="Guardar"/>
	</form>
	
</body>
</html>