<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome!</title>
</head>
<body>
	<h1>Inicio</h1>
	<h4>Panel de control de administrador</h4>
	<p>Bienvenido, </p>
	<p th:text="${session.user.username}" th:unless="${session == null}"> . </p>
	
	<button><a href="/listUsers">Ver lista de usuarios</a></button>
	<button><a href="/login">Cambiar de usuario</a></button>
	<button><a href="/update">Cambiar contraseña</a></button>
	<button><a href="/delete">Eliminar usuario</a></button>
	<button><a href="/logout">Cerrar sesión</a></button>
	

	
	
</body>
</html>