<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome!</title>
</head>
<body>
	<h1>Inicio</h1>
	
	<div th:if="${message != null}" th:text="${message}">
		</div>
	
	<button><a href="/login">Iniciar sesión</a></button>
	<button><a href="/register">Registrar usuario</a></button>
	<button><a href="/listProducts">Productos</a></button>
	
<!--<div th:switch="${session.user.role}"> 
  <p th:case="'admin'"><a href="/listUsers">Ver usuarios</a></p>
  <p th:case="'user'">User is a manager</p>
  <p th:case=null>User is some other thing</p> 
</div> -->
	
	
	
</body>
</html>