<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="UTF-8">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<title>Products</title>
<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>
<!-- MENÚ SUPERIOR -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">	
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{'/inicio'}">
			  <img th:src = "@{/img/2.png}" alt="Online Store" style="width:50px;" class="rounded-pill">
			  <img th:src = "@{/img/3.png}" alt="Online Store" style="width:50px;"class="rounded-pill"/>
			</a>
		</div>
		<div class="container-fluid  justify-content-end">
		  <ul class="navbar-nav">
		  	<li class="nav-item">
				<a class="nav-link active" th:href="@{'/inicio'}">Inicio</a>
			</li>
			<div th:if="${user != null}" th:href="@{'/logout'}" class="dropdown dropstart">
   				 <button type="button" class="btn" data-bs-toggle="dropdown">
      				<i class='fas fa-shopping-cart' style='font-size:24px;color:lightgrey'></i>
   				 </button>
    					<ul class="dropdown-menu">
    						<li>
			 			 		<a th:if="${user != null and user.role == 'user'}"class="dropdown-item" th:href="@{'/cart'}">Mi carrito</a>
							</li> 
							 <li th:if="${user != null and user.role == 'user'}"><hr class="dropdown-divider"></li>
							<li>
			 					 <a th:if="${user.role == 'user'}" class="dropdown-item" th:href="@{'/orders'}">Mis pedidos</a>
			 					 <a th:if="${user.role == 'admin'}" class="dropdown-item" th:href="@{'/orders'}">Pedidos</a>
							</li> 
    					</ul>
  			</div>
			<div class="dropdown dropstart">
   				 <button type="button" class="btn" data-bs-toggle="dropdown">
      				<i class='fas fa-power-off' style='font-size:24px;color:lightgrey'></i>
   				 </button>
    					<ul class="dropdown-menu">
    						<li>
    						<a th:if="${user != null}" th:href="@{'/login'}" class="dropdown-item">Cambiar de usuario</a>
    						<a th:if="${user == null}" th:href="@{'/login'}" class="dropdown-item">Iniciar sesión</a>
							</li> 
							<li><hr th:if="${user != null}" th:href="@{'/logout'}" class="dropdown-divider"></li>
							<li>
			 					 <a th:if="${user != null}" th:href="@{'/update'}" class="dropdown-item">Modificar datos</a>
							</li>
							<li>
			 					 <a th:if="${user != null}" th:href="@{'/updatePassword'}" class="dropdown-item" >Cambiar contraseña</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a th:if="${user != null}" th:href="@{'/logout'}" class="dropdown-item">Cerrar sesión</a>
    							<a th:if="${user == null}" th:href="@{'/register'}" class="dropdown-item">Registrarse</a>
							</li>
    					</ul>
  			</div>	  
		  </ul>
		</div>
</nav>
<!-- CUERPO -->
<div th:style="|background:url(@{/img/0-2.jpg}); height: 1500px|" class="p-5">
<!--<div style="background-image: url('/img/0-2.jpg'); height: 1500px" class="p-5">-->
		<div class="text-light p-5 mx-4 my-1 bg-light rounded text-dark">
			<div th:if="${message != null}" th:text="${message}" class="h5 bg-warning p-2 rounded">
			</div>

			<div class = "p-1">
				<h1> Productos disponibles </h1> 
				<table class="table table-hover my-3">
					<thead>
						<tr class="bg-danger text-white">
							<th>Nombre</th> 
							<th>Marca</th>
							<th>Modelo</th>
							<th>Descripción</th>
							<th>Categoría</th>
							<th>Precio</th>
							<th>Disponibles</th>
							<th>Año</th>
							<th th:if="${user == null or user.role == 'user'}">Opciones</th>
							<th th:if="${user != null and user.role == 'admin'}"></th>
							<th th:if="${user != null and user.role == 'admin'}">Gestionar</th>
							<th th:if="${user == null or user.role == 'user'}"></th>
							</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}">
							<td th:text="${product.productName}"></td>
							<td th:text="${product.brand}"></td>
							<!--<td th:text="${product.model}"></td>-->
							<td><a th:href="@{'/productDetail/'+${product.productCode}}"th:text="${product.model}"></a></td>
							<td th:text="${product.description}"></td>
							<td><a th:href="@{'/productListCategory/'+${product.category.categorieId}}"th:text="${product.category.categorieName}"></a></td>
							<td th:text="${product.price}"></td>
							<td th:text="${product.productAvailable}"></td>
							<td th:text="${product.year}"></td>
							<!--<td><a th:href="@{'/buyProduct/'+${product.productCode}}">Añadir al carrito</a></td>-->
							<td><a th:if="${user == null or user.role == 'user'}" th:href="@{'/buyProduct/'+${product.productCode}}">Añadir al carrito</a></td>
							<td><a th:if="${user != null and user.role == 'admin'}" th:href="@{'/updateProduct/'+${product.productCode}}">Editar producto</a></td>
						</tr>
					</tbody>
				</table>
				
				<h1 class="mt-5" > Próximamente... </h1> 
				<div class="p-2 d-flex justify-content-center">
					<div class="card m-2" style="width:200px">
					<!--th:attr="value = ${product.productCode}"-->					
					<img th:src = "@{/img/123-intel-core-i7-11700k-35-ghz.webp}" class="card-img-top"  alt="Card image" style="width:100%">
						<!--<img class="card-img-top" src="/img/123-intel-core-i7-11700k-35-ghz.webp" alt="Card image" style="width:100%">-->
						<div class="card-body">
						  <h5 class="card-title">Intel Core i7</h5>
						</div>
					</div>
					<div class="card m-2" style="width:200px">
						<img class="card-img-top" th:src = "@{/img/168-amd-ryzen-7-5800x-38ghz.webp}" alt="Card image" style="width:100%">
						<div class="card-body">
						  <h5 class="card-title">AMD Ryzen 7</h5>
						</div>
					</div>
					<div class="card m-2" style="width:200px">
						<img class="card-img-top" th:src = "@{/img/1153-msi-rtx-3080-ti-gaming-x-trio-12gb-gddr6x.webp}" alt="Card image" style="width:100%">
						<div class="card-body">
						  <h5 class="card-title">MSI RTX-3080 Gaming Trio</h5>
						</div>
					</div>
					<div class="card m-2" style="width:200px">
						<img class="card-img-top" th:src = "@{/img/1316-msi-z490-a-pro.webp}" alt="Card image" style="width:100%">
						<div class="card-body">
						  <h5 class="card-title">MSI Z490 Pro</h5>
						</div>
					</div>
					<div class="card m-2" style="width:200px">
						<img class="card-img-top" th:src = "@{/img/111-corsair-vengeance-rgb-pro-sl-ddr4-3600-pc4-28800-32gb-2x16gb-cl18.webp}" alt="Card image" style="width:100%">
						<div class="card-body">
						  <h5 class="card-title">Corsair DDR4 32GB</h5>
						</div>
					</div>
				</div>	
			</div>
	</div>
</div>
		
<!-- FOOTER -->
	<footer class="bg-dark text-center text-white">
		<div class="container p-4 pb-0">
		  <section>
			<a class="navbar-brand" th:href="@{'/inicio'}">
				<img th:src = "@{/img/2.png}" alt="Online Store" style="width:50px;" class="rounded-pill">
				<img th:src = "@{/img/3.png}" alt="Online Store" style="width:50px;" class="rounded-pill">
			  </a>
		  </section>
		</div>  
		<!-- FOOTER Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		  © 2021 Copyright:
		  <a class="text-white" th:href="@{'/inicio'}">OnlineStore.com</a>
		</div>
	</footer>	
	
</body>
</html>