<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Products</title>
<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>

	<div th:if="${message != null}" th:text="${message}">
		</div>

	Products:

	<table>
		<tr>
		<th>Nombre</th> 
		<th>Marca</th>
		<th>Modelo</th>
		<th>Description</th>
		<th>Precio</th>
		<th>Cantidad disponible</th>
		<th>Año</th>
		</tr>
		<tbody>
			<tr th:each="product : ${products}"
			th:style="${productStat.odd}? 'background-color: lightgrey;':'background-color: beige'" 
	                    	th:alt-title="${productStat.even}? 'even' : 'odd'">
				<td th:text="${product.productName}"></td>
				<td th:text="${product.brand}"></td>
				<!--<td th:text="${product.model}"></td>-->
				<td><a th:href="@{'/productDetail/'+${product.productCode}}"th:text="${product.model}"></a></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.productAvailable}"></td>
				<td th:text="${product.year}"></td>
				<!--<td><a th:href="@{'/buyProduct/'+${product.productCode}}">Añadir al carrito</a></td>-->
				<td><a th:if="${user == null or user.role == 'user'}" th:href="@{'/buyProduct/'+${product.productCode}}">Añadir al carrito</a></td>
			</tr>
	</table>
	<button><a href="/inicio">Inicio</a></button>
	<button><a href="/login">Iniciar sesión</a></button>
	<button><a href="/register">Registrar usuario</a></button>
	
	


</body>
</html>