<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update product</title>
	<style>
		a {
		text-decoration:none}
	</style>
</head>
<body>

<h3>Introduzca los datos que desea cambiar, dejando en blanco los que desee mantener</h3>
<div th:if="${message != null}" th:text="${message}">
		</div>
		

	<form th:action="@{/saveUpdateProduct}" th:object="${product}" method="post">
	
		<label>Code</label>
		<input readonly type="text" th:value="${product.productCode}" th:name="productCode"/>
		<br/>
		<label>Nombre</label>
		<input type="text" th:field="*{productName}"/>
		<br/>
		<label>Marca</label>
		<input type="text" th:field="*{brand}"/>
		<br/>
		<label>Modelo</label>
		<input type="text" th:field="*{model}"/>
		<br/>
		<label>Descripción</label>
		<input type="text" th:field="*{description}"/>
		<br/>
		<label>Precio</label>
		<input type="text" th:field="*{price}"/>
		<br/>
		<label>Cantidad</label>
		<input type="text" th:value="-1" th:name="productAvailable"/>
		<br/>
		<label>Año</label>
		<input type="text" th:field="*{year}"/>
		<br/>
		<label>Imagen</label>
		<input type="text" th:field="*{picture}"/>
		<br/>
	
		<input type="submit" value="Update"/>
	</form>
	<button><a href="/">Inicio</a></button>
	<button><a href="/login">Iniciar sesión</a></button>
	<button><a href="/register">Registrar usuario</a></button>
	<button><a href="/delete">Eliminar usuario</a></button>
	
	
</body>
</html>